.Menu {
    padding-bottom: 20%;
}

.pageTitle
{
    text-decoration: underline;
    margin-bottom: 1%;
    border-radius: 10px;
}

.commentsSection
{
    max-width: 75%;
    margin: auto;
    margin-top: 5%;
}

.commentArea
{
    height: 300px;
}

.commentButton
{
    margin-top: 1%;
    float: left;
}

.titleComment
{
  font-family: 'Open Sans', sans-serif;
}