.MyComponent {

}

.eliminarBtn
{
    margin-left: 50px;
}

.cargarClientesBtn
{
    margin-right: 87%;
    margin-bottom: 1%;
}

.tableComponentStyle
{
    max-width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2%;
}

@media only screen and (max-width: 1920px) {
    .cargarClientesBtn
    {
        margin-right: 89.5%;
        margin-bottom: 1%;
    }
}

.pageTitle
{
    text-decoration: underline;
    margin-bottom: 1%;
    border-radius: 10px;
}