.ABMEnvios
{
    padding-bottom: 10% !important;
}

.ABMEnviosEmpty
{
    padding-bottom: 50% !important;
}

.MyComponentLoading
{
    padding-bottom: 100% !important;
}

.pageTitle
{
    text-decoration: underline;
    margin-bottom: 1%;
    border-radius: 10px;
}


.loadingIcon
{
    margin-top: 250% !important;
}

.eliminarBtn
{
    margin-left: 50px;
}

.cargarClientesBtn
{
    margin-left: 2%;
    max-height: fit-content;
}

.tableComponentStyle
{
    max-width: 95%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2%;
}

@media only screen and (max-width: 1920px) {
    .cargarClientesBtn
    {
        margin-right: 89.5%;
        margin-bottom: 1%;
    }
}



.td
{
    color: white;
}

.loadingScreen
{
    margin-bottom: 50%;
    padding-bottom: 50%;
}

